header div{
    background-color: rgb(4, 100, 164);
    margin-bottom: 10px;
}

header .row{
    justify-content: center;
}

header p{
    color: white;
    margin-bottom: 0px;
}

.linhaTabela .codigo p{
    color: white;
    margin-bottom: 0px;
    background-color: rgb(4, 100, 164);
    text-align: center;
}

.btnVoltar{
    justify-content: center;
}

tbody th {
    background-color: rgb(165, 185, 224);
    width: 15% !important;
}

.linhaTabela tbody td {
    background-color: #d8e1f0;
    width: 85% !important;
}

.table-bordered td, .table-bordered th {
    border-color: white !important;
}

#des{
    font-weight: bolder;
}

#sigla {
    text-decoration: underline;
}

.imprenta p, .designacao p{
    margin-bottom: 0;
}

#info_adicionais{
    /* display: none; */
    padding: 0px 0px 20px 20px;
}

#info_adicionais p{
    margin-bottom: 0px;
}

#info_adicionais span{
    font-weight: bolder;
}

/* #universidades:hover + #info_adicionais {
    display: block !important;
    border: solid;
    padding: 5px;
} */

.btn_continuacao {
    color: black;
    background: none;
    border: none;
    text-decoration: underline;
}