{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/busca.css' %}">
{% endblock %}

{% block header %}
<div class='row linhaColabore'>
    <p>Consulta ao CCN</p>
</div>
{% endblock %}

{% block main %}
<div class='row'>
    {% if postagens %}
    <div class="col">
        <select class="input-group-text selectpicker" id='qtdItens'>
            {% for item in itens %}
                {% if item == request.session.qtdItens %}
                    <option selected>{{item}}</option>
                {% else %}
                    <option>{{item}}</option>
                {% endif %}
            
            {% endfor %}
        </select>
    </div>
    
    <div class="col">
        Exibindo {{qtdPostagensPagina}} resultados de {{qtdPostagensBanco}}
    </div>
    
    <div class="col">
        <nav aria-label="Page navigation">
            {% include 'paginador.html' with pname=a page_obj=postagens %}
        </nav>
    </div>
    {% endif %}

</div>
<form method="POST" class="post-form" action='/resultado'>
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <table class="table .table-striped">
                <tbody>
                    {% if postagens %}
                        {% for postagem in postagens %}
                            {% for item in titulos%}
                                {% if forloop.parentloop.counter == forloop.counter%}
                    <tr>
                        <td><input type="checkbox" name={{postagem.cod}}>
                            {{ forloop.counter0|add:postagens.start_index }} - {{item}}
                        </td>
                    <tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        
                    {% else %}
                    <div class="postagemNotFound">
                        Nenhum item encontrado!
                    </div>
                    
                    {% endif %}
                </tbody>
            </table>
            
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if postagens %}
            <select class="input-group-text selectpicker" name='formatoConsulta'>
                <option title="Combo 1" selected>Detalhado</option>
                <option title="Combo 2">Completo</option>
                <option title="Combo 3">Simples</option>
            </select>
            {% endif %}
        </div>
        
        <div class="col">
            {% if postagens %}
            <button type="submit" class="btn btn-primary visualizarRegistros">Visualizar Registros</button>
            {% endif %}
        </div>
        
        <div class="col">
            <button type="button" class="btn btn-primary novaConsulta">Nova Consulta</button>
        </div>
    </div>
</form>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="{% static 'js/busca.js' %}"></script>
{% endblock %}