{% extends 'base.html' %}
{% load static %}
{% load filter_tags %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resultado.css' %}">
{% endblock %}

{% block header %}
<div class='row'>
    <p>Consulta ao CCN</p>
</div>
{% endblock %}

{% block main %}
<div class='row linhaTabela'>
    <div class='col'>
        {% if lista_postagens %}
        {% for postagem in lista_postagens %}
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th colspan="2" class='codigo'>
                        <p>consulta: {{postagem.codigo}}</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th style="width: 15%">CCN</th>
                    <td style="width: 85%">{{postagem.cod_ccn}}</td>
                </tr>
                <tr>
                    <th style="width: 15%">ISSN</th>
                    <td style="width: 85%">{{postagem.cod_issn}}</td>
                </tr>
                {% if postagem.cod_issn_online %}
                <tr>
                    <th style="width: 15%">ISSN On-line</th>
                    <td style="width: 85%">{{postagem.cod_issn_online}}</td>
                </tr>
                {% endif %}
                <tr>
                    <th style="width: 15%">Titulo</th>
                    {% for titulos in lista_titulos %}
                    {% ifequal titulos.codigo postagem.codigo %}
                    {% if postagem.home_page %}
                    <td style="width: 85%"><a href={{postagem.home_page}}>{{titulos.titulo_completo}}</a></td>
                    {% else %}
                    <td style="width: 85%">{{titulos.titulo_completo}}</td>
                    {% endif %}
                    {% endifequal %}
                    {%endfor%}
                </tr>
                <tr>
                    <th style="width: 15%">Área de Numeração</th>
                    <td style="width: 85%" class='designacao'>
                        {% for designacao in postagem.designacoes|split:'$$' %}
                            <p>{{designacao}}</p>
                        {%endfor%}
                    </td>
                </tr>
                <tr>
                    <th style="width: 15%">Imprenta</th>
                    <td style="width: 85%" class='imprenta'>
                    {% for imprenta in postagem.imprentas %}
                        <p>{{imprenta}}</p>
                    {%endfor%}
                    </td>
                </tr>

                    <tr>
                        <th style="width: 15%">Assunto</th>
                        <td style="width: 85%">
                            {{postagem.assunto}}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 15%">Frequência</th>
                        <td style="width: 85%">{{postagem.frequencia}}</td>
                    </tr> 
                    {% if postagem.titulo_abreviado %}
                    <tr>
                        <th style="width: 15%">Titulo Abreviado</th>
                        <td style="width: 85%">{{postagem.titulo_abreviado}}</td>
                    </tr>
                    {%endif%}
                    {% if postagem.titulo_adicional %}
                    <tr>
                        <th style="width: 15%">Titulo Adicional</th>
                        <td style="width: 85%">{{postagem.titulo_adicional}}</td>
                    </tr> 
                    {%endif%}
                    

                {%if lista_universidades %}
                    <tr>
                        <th style="width: 15%">Coleção</th>
                        <td style="width: 85%">
                        {% for universidade in lista_universidades %}
                            {% if universidade.publ_cod == postagem.codigo %}
                            <div id='universidades'><span id='sigla'>{{universidade.sigla}}</span><span id='des'> ({{universidade.uf_cod}})</span>: {{universidade.conteudo}}</div>
                            <div id='info_adicionais'>
                                <p><span>SIGLA: </span>{{universidade.sigla}}</p>
                                <p><span>NOME: </span>{{universidade.nome}}</p>
                                <p><span>ENDEREÇO: </span>{{universidade.logradouro}}{{universidade.barriro}} - CEP: {{universidade.cep}}</p>
                                {% for a in universidade.numero %}
                                    <p>{{a}}</p>
                                {%endfor%}
                            </div>
                            {%endif%}
                        {%endfor%}
                        </td>
                    </tr>
                    
                {%endif%}
            </tbody>
        </table>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="row btnVoltar">
    <button type="button" class="btn btn-primary btnRetornar">Retornar</button>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
<script src="{% static 'js/resultado.js' %}"></script>
{% endblock %}